In [2]:
import numpy as np
import pandas as pd
import csv

import scipy.stats as stats
import matplotlib.pyplot as plt

In [3]:
statesdata = "TylerData/Average_price_electricity.csv"

states_df = pd.read_csv(statesdata)
states_df.head()

,Average retail price of electricity,cents per kilowatthour,source key,2012,2013,2014,2015,2016,2017,Average6YearRate
0,Connecticut,cents per kilowatthour,ELEC.PRICE.CT-ALL.A,15.54,15.66,17.05,17.77,17.24,17.62,16.81
1,Maine,cents per kilowatthour,ELEC.PRICE.ME-ALL.A,11.81,11.86,12.65,12.78,12.80,12.94,12.47
2,Massachusetts,cents per kilowatthour,ELEC.PRICE.MA-ALL.A,13.79,14.51,15.35,16.90,16.48,16.14,15.53
3,New Hampshire,cents per kilowatthour,ELEC.PRICE.NH-ALL.A,14.19,14.30,15.22,16.02,15.66,16.16,15.26
4,Rhode Island,cents per kilowatthour,ELEC.PRICE.RI-ALL.A,12.74,13.72,15.41,17.01,16.28,16.44,15.27

In [4]:
cheaplist = []
expensivelist = []

for index, row in states_df.iterrows():
    
    if row["Average6YearRate"] > 11.00:
        expensivelist.append(row["Average retail price of electricity"])
    else:
        cheaplist.append(row["Average retail price of electricity"])
        
print(len(cheaplist))
print(len(expensivelist))
print(cheaplist)
print(expensivelist)

36
15
['Pennsylvania', 'Illinois', 'Indiana', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota', 'Florida', 'Georgia', 'North Carolina', 'South Carolina', 'Virginia', 'West Virginia', 'Alabama', 'Kentucky', 'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma', 'Texas', 'Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah', 'Wyoming', 'Oregon', 'Washington']
['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Michigan', 'Delaware', 'District Of Columbia', 'Maryland', 'California', 'Alaska', ' Hawaii']

In [5]:
states = {

         'Alabama','Alaska','Arizona','Arkansas','California','Colorado',
         'Connecticut','Delaware','Florida','Georgia','Hawaii','Idaho', 
         'Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana',
         'Maine','Maryland','Massachusetts','Michigan','Minnesota',
         'Mississippi', 'Missouri','Montana','Nebraska','Nevada',
         'New Hampshire','New Jersey','New Mexico','New York',
         'North Carolina','North Dakota','Ohio',    
         'Oklahoma','Oregon','Pennsylvania','Rhode Island',
         'South Carolina','South Dakota','Tennessee','Texas','Utah',
         'Vermont','Virginia','Washington','West Virginia',
         'Wisconsin','Wyoming'
    }
lowcostusers = ["Illinois", "Ohio", "Alabama", "Washington", "Arkansas", "Colorado", "Connecticut", "Georgia", "Hawaii", "Idaho",
          "Indiana","Iowa","Kansas","Kentucky","Maine","Maryland","Michigan","Minnesota","Missouri", "Montana", "Nebraska", 
          "New Hampshire","New Mexico", "New York", "North Carolina", "North Dakota", "Oregon","Pennsylvania", "South Carolina",
          "South Dakota", "Tennessee","Utah", "Vermont", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

highcostusers = []

for state in states:
    if state not in lowcostusers:
        highcostusers.append(state)
print(highcostusers)
print("------------------------------------------------------------------------------------------------------------------")
print(expensivelist)
print("------------------------------------------------------------------------------------------------------------------")
print(lowcostusers)
print("------------------------------------------------------------------------------------------------------------------")
print(cheaplist)

['Massachusetts', 'Rhode Island', 'Mississippi', 'Virginia', 'Alaska', 'Arizona', 'Texas', 'Delaware', 'New Jersey', 'Nevada', 'Florida', 'Oklahoma', 'California', 'Louisiana']
------------------------------------------------------------------------------------------------------------------
['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Michigan', 'Delaware', 'District Of Columbia', 'Maryland', 'California', 'Alaska', ' Hawaii']
------------------------------------------------------------------------------------------------------------------
['Illinois', 'Ohio', 'Alabama', 'Washington', 'Arkansas', 'Colorado', 'Connecticut', 'Georgia', 'Hawaii', 'Idaho', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Maine', 'Maryland', 'Michigan', 'Minnesota', 'Missouri', 'Montana', 'Nebraska', 'New Hampshire', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Oregon', 'Pennsylvania', 'South Carolina', 'South Dakota', 'Tennessee', 'Utah', 'Vermont', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
------------------------------------------------------------------------------------------------------------------
['Pennsylvania', 'Illinois', 'Indiana', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota', 'Florida', 'Georgia', 'North Carolina', 'South Carolina', 'Virginia', 'West Virginia', 'Alabama', 'Kentucky', 'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma', 'Texas', 'Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah', 'Wyoming', 'Oregon', 'Washington']

In [6]:
hchr = len(set(highcostusers) & set(expensivelist))
hclr = len(set(highcostusers) & set(cheaplist))
lchr = len(set(lowcostusers) & set(expensivelist))
lclr = len(set(lowcostusers) & set(cheaplist))

# if state in highcostusers and expensivelist:
#     hchr.append(state)
#     elif state in highcostusers and cheaplist
#         hclr.append(state)
        
# if state in lowcostusers and expensivelist:
#     lchr.append(state)
# if state in lowcostusers and cheaplist:
#     lclr.append(state)
print(hchr)
print(hclr)
print(lchr)
print(lclr)

6
8
7
28

In [7]:
data = pd.Series([hchr,lchr], index=["High Energy Cost Users", "Low Energy Cost Users"])
chi_df = pd.DataFrame([data]).T
chi_df[1] = [hclr,lclr]

chi_df

                        0   1
High Energy Cost Users  6   8
Low Energy Cost Users   7  28

In [8]:
chi_df.columns = ["ExpensiveRates(>$0.11)","CheapRates(=<$0.11)"]

chi_df
# data = pd.DataFrame({"Expensive Rates (>$0.11)": [hchr,lchr],
#                     "Cheap Rates (=<$0.11)": [hclr,lclr]})
# chi_df=chi_df.append(data)
# chi_df.head()

                        ExpensiveRates(>$0.11)  CheapRates(=<$0.11)
High Energy Cost Users                       6                    8
Low Energy Cost Users                        7                   28

In [9]:
observed = np.array([[6,7],[8,28]])
stats.contingency.expected_freq(observed)

array([[ 3.71428571,  9.28571429],
       [10.28571429, 25.71428571]])

In [10]:
stats.chi2_contingency(observed)

(1.6359508547008548, 0.20088193349618605, 1, array([[ 3.71428571,  9.28571429],
        [10.28571429, 25.71428571]]))

In [ ]:
# Pvalue is the probability the variables are independent. 
#pvalue is greater than 0.05 which means the result is not significant. 
#meaning we think that cost of higher cost electricity sources does not 
#significantly mean higher rates.